/CS4125 project/nbproject/private/
/CS4125 project/build/
/CS4125 project/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Cs4125Server/nbproject/private/
/Cs4125Server/build/
/Cs4125Server/dist/
/JavaApplication10/nbproject/private/
/JavaApplication10/dist/
/JavaApplication10/build/
/malachyProject/nbproject/private/